version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: auth-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: auth-service
    volumes:
      - mongodb_data:/data/db
    networks:
      - auth-network

  redis:
    image: redis
    container_name: auth-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - auth-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: auth-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - auth-network

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: auth-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - auth-network

volumes:
  mongodb_data:
  redis_data:

networks:
  auth-network:
    driver: bridge

